<!DOCTYPE html>
{% extends "testAppTem/base.html" %}

{% block head %}
    <style>
        h1{
            font-weight: 900;
            font-size: 5rem;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1  align="center">Welcome to NK Exams!!</h1>
            <h2>Exam rules:</h2>
            <ul>
                <li>Rules are rules which are also called as rules</li>
                <li>Rules are rules which are also called as rules</li>
                <li>Rules are rules which are also called as rules</li>
                <li>Rules are rules which are also called as rules</li>
            </ul>
        </div>
        </div>
{% endblock %}