<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/stylesmov.css" %}">
    <style>
        body{
            background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS78vmwG3gJ79hKCdRmtj0ZPeTUXewCwb8iag&usqp=CAU);
        }
    </style>
</head>
<body>
    <div class="container list" align="center">
        <h1 id="title">MOVIES INFORMATION</h1>
        {% if movie_list %}
            <table>
                <thead>
                    <th>Release Date</th>
                    <th>Movie Name</th>
                    <th>Hero</th>
                    <th>IMDB Rating</th>
                </thead>
                {% for movie in movie_list %}
                    <tr>
                        <td>{{movie.releasedate}}</td>
                        <td>{{movie.moviename}}</td>
                        <td>{{movie.hero}}</td>
                        <td>{{movie.IMDB}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No movies found......</p>
        {% endif %}
    </div>
</body>
</html>